.Rproj.user
.Rbuildignore
.Rprofile
.Rhistory
.RData
.Ruserdata
renv/
renv.lock
inst/doc
/doc/
/Meta/
vignettes/.gitignore
.github/.gitignore
.gitignore
.github
mtb.Rproj
CRAN-RELEASE
CRAN-SUBMISSION
_pkgdown.yml
cran-comments.md
